@import url('_type/_error/edit-form__field_type_error.css');

.edit-form__field {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.2);
	margin-bottom: 30px;
	padding-bottom: 13px;
	font-size: 14px;
	line-height: 17px;
}

.edit-form__field::placeholder {
	font-size: 14px;
	line-height: 17px;
	color: #C4C4C4;
}