@import url('_yosemite/elements__card_yosemite.css');
@import url('_lake-louise/elements__card_lake-louise.css');
@import url('_bald-mountains/elements__card_bald-mountains.css');
@import url('_latemar/elements__card_latemar.css');
@import url('_vanois/elements__card_vanois.css');
@import url('_lago-de-braies/elements__card_lago-de-braies.css');

.elements__card {
	background-size: 282px;
	background-position: top center;
	background-repeat: no-repeat;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 361px;
}

@media all and (min-width:300px) and (max-width:1023px) {
	.elements__card {
		background-size: 100%;
	}
}
