.header__logo {
	width: 173px;
	height: 33px;
}

@media all and (min-width:300px) and (max-width:767px) {
	.header__logo {
		width: 126px;
		height: 24px;
	}
}

@media all and (min-width:300px) and (max-width:424px) {
	.header__logo {
		margin-left: 28px;
	}
}