@import url('__copyright/footer__copyright.css');

.footer {
	width: calc(100% - (2  *  199px));
	max-width: 882px;
	margin: 0 auto 60px;
	padding: 0;
}

@media all and (min-width:768px) and (max-width:1023px) {
	.footer {
		width: calc(100% - (2 * 100px));
		max-width: 768px;
	}
}

@media all and (min-width:425px) and (max-width:767px) {
	.footer {
		width: calc(100% - (2 * 72px));
		max-width: 768px;
		margin: 0 auto 36px;
	}
}

@media all and (min-width:300px) and (max-width:424px) {
	.footer {
		width: calc(100% - (2 * 19px));
		min-width: 282px;
		margin: 0 auto 36px;
	}
}